# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.next

npm-debug.log*
yarn-debug.log*
yarn-error.log*

npm-debug.log
dist/
.editorconfig
npm-debug.log

.eslintcache

# yarn
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
tsconfig.tsbuildinfo
