.registerBtn {
  background: none;
  position: relative;
  top: 0;
  color: #fff;
  background: #00263d;
  padding: 0.91rem 1.3rem;
  margin: 1.5em 0;
  border-radius: 50px;
  font-size: 0.9rem;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 100px;
  box-shadow: 0 4px 5px -1px rgba(78, 78, 78, 0.2);
  transition: 300ms cubic-bezier(0, 0, 0.58, 1);
  border: 2px solid #000f18;
}

.registerBtn:hover,
.registerBtn:focus {
  outline: none;
  top: -7px;
  box-shadow: 0px 4px 10px 2px rgba(88, 88, 88, 0.5);
}

.linkWrapper {
  position: fixed;
  overflow-y: scroll;
  box-shadow: -1px 7px 10px 0 #8b9e9f;
  background-color: #eef6f7;
  margin: auto;
  width: 95%;
  height: 95vh;
  top: 2.5vh;
  left: 2.5%;
  text-align: center;
  z-index: 10;
}

.linkWrapper ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: space-between;
  align-items: baseline;
  background-color: rgba(123, 181, 222, 0.3);
  width: 90%;
  margin: 3rem auto;
}

.linkWrapper li {
  width: 25%;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  margin: 10px;
  border-radius: 0.5rem;
}

.linkWrapper a {
  color: black;
  text-decoration: none;
  font-size: 1.3rem;
  outline: unset;
}

.linkWrapper li:hover,
.linkWrpper li:focus {
  text-decoration: underline;
}

.select_reg_close {
  outline: none;
  position: fixed;
  font-size: 2rem;
  top: 3vh;
  right: 4vw;
  background: none;
  cursor: pointer;
  border: none;
  transition: scale 200ms ease-in-out;
}

.select_reg_close:hover,
.select_reg_close:focus {
  scale: 1.2;
}
