.header {
  display: flex;
  width: min(960px, calc(100% - 64px));
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 32px 0;
  margin: auto;
}
.header a {
  text-decoration: none;
  color: black;
  font-size: 14.4px;
  font-family: Arial;
}

.headerContainer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0.5rem 7%;
}

.logo {
  padding-right: 2rem;
  width: 100;
}

.logo_img {
  height: 39px;
  width: 96px;
}
