.navBar {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.navLinks {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks a {
  text-decoration: none;
  color: #25407b;
  font-size: 1.2rem;
  padding: 10px;
}

.navLinks a:hover,
.navLinks a:focus {
  outline: unset;
  text-decoration: underline;
  color: #6da7df;
}

.hamburgerbtn {
  display: none;
  background: none;
  position: relative;
  height: 3rem;
  outline: unset;
  font-size: 1rem;
  width: 50px;
  border: 0;
}

.hamburgerbtn:hover,
.hamburgerbtn:focus {
  background: rgba(109, 167, 223, 0.3);
}

.hamburgerWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #25407b;
  text-decoration: none;
}

.lineTop,
.lineMiddle,
.lineBottom {
  width: 20px;
  height: 1px;
  background-color: #25407b;
  transition: transform 0.1s ease-out;
  margin: 3px 0;
}

@media All and (max-width: 768px) {
  .navBar {
    justify-content: flex-end;
  }
  .hamburgerbtn {
    display: flex;
    align-content: center;
    justify-content: center;
  }
  .navLinks {
    display: none;
    flex-direction: column;
  }
}
