.headerOuterWrapper {
  position: relative;
  border-bottom: 3px solid #dee7ee;
}

.headerText {
  width: 98%;
  margin: 5px auto;
}
.headerText h3 {
  font-size: 25px;
}

.headerInnerWrapper {
  max-width: min(960px, calc(100% - 64px));
  margin: auto;
}
