.headerOuterWrapper {
  position: relative;
  padding-top: 30px;
  border-bottom: 3px solid #dee7ee;
  background-color: #dee7ee/* rgba(207, 225, 238,0.5);*/
}

.headerText {
  width: 98%;
  margin: 5px auto;
}
.headerText h3 {
  font-size: 25px;
}

.headerInnerWrapper {
  max-width: min(1500px, calc(100%));
  margin: auto;
}
