html {
  font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  box-sizing: border-box;
  overflow-x: hidden;
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.7rem;
  letter-spacing: 2px;
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-size: 1.25rem;
  font-weight: 600;
}
h5 {
  font-size: 1rem;
  font-weight: 500;
}
h6 {
  font-size: 0.75rem;
  font-weight: 500;
}
.fa.fa-fas.fa-circle {
  color: #3baa34;
  font-size: 1.2rem;
  padding: 0.1em;
}
.fa.fa-fas.fa-adjust {
  color: #fd9c00;
  font-size: 1.2rem;
  padding: 0.1em;
}
.fa.fa-circle-o {
  color: #e30713;
  font-size: 1.21rem;
  padding: 0.1em;
}

/******* treatment unit and year selection *******/

.app-container {
  box-sizing: border-box;
}
.app-body {
  width: 98%;
  max-width: 1500px;
  position: relative;
  top: 0rem;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.selection-container {
  position: sticky;
  top: 0;
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  z-index: 3;
  /* box-shadow: 0 4px 5px -1px rgba(0, 38, 61, 0.25);*/
  position: -webkit-sticky;
}
.treatment-unit-selection {
  flex: 3 3 0%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.treatment-unit-selection form {
  flex: 8 1 20rem;
  margin: 0.4rem;
}
.hospital_list_btn_container {
  flex: 0 0 6rem;
  margin: 0.4rem;
  text-align: center;
}
.year-selection {
  flex: 1 1 0%;
}

/******* level legend and filter *******/

.table_legend {
  display: flex;
  justify-content: space-around;
  position: sticky;
  background-color: white;
  text-align: end;
  width: 80%;
  font-size: 1rem;
  z-index: 2;
  position: -webkit-sticky;
  align-self: flex-end;
}

.table_legend button {
  outline: none;
  border: none;
  background-color: unset;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5em 0.4em;
  border: 2px solid #d2d3d4;
  border-radius: 2em;
  margin: 0.7em 0.2em;
  background-color: #dee7ee;
  position: relative;
  box-shadow: 0 4px 5px -1px rgba(196, 196, 196, 0.2);
  min-width: 25%;
  box-sizing: border-box;
  top: 0;
  cursor: pointer;
  transition: 300ms cubic-bezier(0, 0, 0.58, 1);
}
.table_legend button:hover {
  box-shadow: 0px 4px 10px 2px rgba(196, 196, 196, 0.5);
  top: -7px;
}
.table_legend button:active {
  box-shadow: none;
  top: 0px;
}
.table_legend button.checked {
  border: 2px solid #00263d;
  box-shadow: 0px 4px 10px 2px rgba(196, 196, 196, 0.2);
  top: -7px;
}

/******* main content containers *******/

.content_container {
  box-sizing: border-box;
  display: flex;
}
.main_table_container {
  box-sizing: border-box;
  flex: 4;
  padding: 0 1rem 0 0.5rem;
}
.med_field_container {
  box-sizing: border-box;
  flex: 1;
  padding: 0 0.5rem 0 1rem;
}

/******* medical field selection  *******/

.med_field_list {
  padding: 0;
  margin: 0;
  position: sticky;
  z-index: 2;
  position: -webkit-sticky;
}
.med_field_list button {
  position: relative;
  border: none;
  background-color: unset;
  text-decoration: none;
  cursor: pointer;
  text-align: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  transition: all 0.3s ease-in-out;
}

.med_field_list li {
  list-style-type: none;
  margin-top: 1rem;
}

.med_field_title button .med_field_text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  color: #00263d;
  margin: auto;
  height: 40px;
  background-color: unset;
  width: 100%;
}
.med_field_title .med_field_nrind {
  color: #fff;
  background-color: #00263d;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.9em;
  width: 2.2rem;
  height: 2.2rem;
}
.med_field button.med_field_text {
  font-size: 1rem;
  color: #9a9a9a;

  background-color: unset;
  width: 100%;
  transition: all 0.3s ease-in;
}
.med_field .med_field_nrind {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #00263d;
  background-color: #efefef;
  border-radius: 100%;
  min-width: 2rem;
  min-height: 2rem;
  transition: all 0.3s ease-in-out;
}
.med_field_list button:focus {
  outline: none;
}
.med_field button:hover,
.med_field button:focus {
  color: #00263d;
}
.med_field button:hover .med_field_nrind,
.med_field button:focus .med_field_nrind {
  color: #efefef;
  background-color: #00263d;
}
.med_field_list button::after {
  content: "";
  position: absolute;
  width: 80%;
  bottom: -0.2rem;
  display: block;
  border-bottom: 4px solid #00263d;
  transform: scale(0);
  transition: all 0.3s ease-in-out;
}
.med_field_list button:hover::after,
.med_field_list button:focus::after {
  opacity: 0.5;
  transform: scale(1);
}
.med_field_list button:active {
  opacity: 0.7;
  transform: scale(0.95);
}
.med_field button:active .med_field_nrind {
  opacity: 0.7;
}
.med_field_list button:active::after {
  opacity: 0.2;
  transform: scale(1);
}
.med_field_list .checked button.med_field_text {
  color: #00263d;
  transition: all 0.3s ease-in;
}
.med_field_list .checked .med_field_nrind {
  color: #efefef;
  background-color: #00263d;
  opacity: 0.8;
}
.med_field_list .checked ::after,
.med_field_list .checked ::after {
  opacity: 0.8;
  transform: scale(1);
}

/********* table *********/

table {
  table-layout: fixed;
  width: 100%;
  border-spacing: 0;
  margin-bottom: 50px;
  line-height: 1.2;
}
thead {
  box-shadow: 0 4px 5px -1px #00263d;
}
thead th {
  font-size: 0.9rem;
  background-color: #00263d;
  color: white;
  height: 50px;
  position: sticky;
  z-index: 1;
  position: -webkit-sticky;
}
th.quality_indicator {
  padding-left: 0.5rem;
}
tbody tr {
  box-shadow: 0 4px 5px -1px #dcdcdc;
}
.register-row {
  background-color: #dee7ee;
}
.register-row .reg-name {
  text-align: left;
  font-size: 1.1rem;
  padding: 0 0.5rem;
  margin: 0.8rem 0;
}
.quality_indicator {
  text-align: left;
}
.quality_indicator_name h1 {
  margin: 0.5rem;
  font-size: 1.2em;
  overflow: hidden;
}
.qi_long_description p {
  margin: 5px 5px 10px 0.5rem;
  color: #7d8588;
  font-size: 0.9em;
}
.desired_target_level h4 {
  margin: 5px 5px 10px 0.5rem;
  color: #7ebec7;
  font-size: 1rem;
  font-weight: 600;
}
.filter_med_field {
  display: none;
}
.filtered_level .summary,
.filtered_level .level {
  opacity: 0.2;
}
.selected_unit .level,
.selected_unit .summary,
.nationally .level,
.nationally .summary {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected_unit .level h4,
.nationally .level h4 {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0.5rem;
}
.selected_unit .summary,
.nationally .summary {
  font-size: 0.85rem;
}
tbody .selected_unit {
  background-color: rgba(126, 190, 199, 0.05);
}
tbody .indicator:hover {
  background-color: rgba(126, 190, 199, 0.15);
  cursor: pointer;
}
table {
  border-bottom: 1rem solid #00263d;
  border-radius: 0.5rem;
}

/*------ tr figure button container----*/

.tr_figure td {
  text-align: center;
}
.tr_figure .tr_buttons_container {
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  position: relative;
}

/************ list of treatment units ***************/

.hospital_list_btn {
  color: black;
  font-weight: 500;
  font-size: 1.1rem;
  background: none;
  height: 2.6rem;
  width: 100%;
  padding: 0.2rem;
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  outline: none;
  min-height: "2rem";
  transition: scale 200ms ease-in-out;
}
.hospital_list_btn:hover,
.hospital_list_btn:focus {
  border: 3px solid #dee7ee;
}

.tu_list {
  overflow-y: scroll;
  color: #2d3034;
  position: fixed;
  width: 95%;
  height: 95vh;
  background-color: #f2f2f2;
  margin: auto;
  z-index: 5;
  text-align: center;
  top: 2.5vh;
  left: 2.5%;
  box-shadow: -1px 7px 10px 0 #8b9e9f;
}

.tu_list h3 {
  margin: 0;
  padding: 0.7rem;
  text-align: start;
  background-color: #dee7ee;
  border-bottom: 2px solid #b5c3c4;
}
.tu_list_header {
  text-align: start;
  padding-left: 1%;
}
.all_tu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
}
.tu_list_rhf {
  flex: 1 1 350px;
  margin: 5px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid #b5c3c4;
  max-width: 400px;
}
.tu_list_rhf_header {
  cursor: pointer;
}
.tu_list_rhf_header:hover {
  cursor: pointer;
  text-decoration: underline;
}

.tu_list_rhf_content {
  display: flex;
  justify-content: flex-start;
}
.tu_list_hfs_in_rhf {
  display: flex;
  flex-direction: column;
  flex: 2;
}
.tu_list_hf {
  display: flex;
  margin: 0.7rem 0;
  flex-direction: column;
}
.tu_list_hospital {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: flex-start;
  margin-left: 5rem;
}
.tu_list_hf_btn_constainer {
  flex: 1;
  align-self: flex-start;
  text-align: start;
}
.tu_list_hf button {
  text-align: start;
  overflow-wrap: break-word;
  outline: none;
}
.all_tu button {
  font-size: 1rem;
  background: none;
  border: none;
  margin: 0.1rem;
  padding: 0.4rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.all_tu button:hover {
  color: #08418e;
  text-decoration: underline;
}
.all_tu button:focus {
  text-decoration: underline;
}
.tu_list_close_btn {
  outline: none;
  position: fixed;
  font-size: 2rem;
  top: 3vh;
  right: 4vw;
  padding: 5px;
  border: none;
  background: none;
  cursor: pointer;
  transition: scale 200ms ease-in-out;
}
.tu_list_close_btn:hover,
.tu_list_close_btn:focus {
  scale: 1.2;
}

/******media upto 768*****/

@media All and (max-width: 768px) {
  html {
    font-size: 13px;
  }
  .selection-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
  .treatment-unit-selection {
    display: flex;
  }
  .treatment-unit-selection form {
    flex: 5;
  }
  .table_legend {
    display: flex;
    justify-content: space-around;
    width: 100%;
    font-size: 1rem;
  }
  .main_table_container {
    padding: 0 0.5rem;
  }
  .med_field_container {
    display: none;
  }
}

/******media  768 - 992*****/

@media All and (min-width: 769px) and (max-width: 992px) {
  html {
    font-size: 14px;
  }
  .table_legend {
    left: 19%;
    width: 81%;
  }
  .main_table_container {
    flex: 4;
    padding: 0 0.5rem;
  }
  .med_field_container {
    flex: 1;
    padding: 0 0.5rem;
  }

  .med_field {
    min-height: 2rem;
  }
  .med_field button::after {
    bottom: -0.6rem;
  }
  .hospital_list_btn {
    height: 2.9rem;
  }
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
}
.tooltip:hover {
  text-decoration: underline;
}
/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
