body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #EEF6F7;
 }
 
 [config.column.treatment_unit] {
   /*margin: 20px auto;
   padding: 10px;
   width: 90%;*/
   padding: 3px 10px;
   margin: 0;
   background-color: rgb(126,190,199);
 }
 
 [config.column.treatment_unit] h3{
   float: right;
 }
 
 [config.column.treatment_unit] .shiny-input-container {
   border-radius: 5px;
   margin-top:20px;
   float: left;
 }
 
 [config.column.treatment_unit] .action-button {
   border-radius: 5px;
   margin-top: 20px;
   float: right;
 }
 
 /* table_lagend*/
 
 .table_legend {
   display: flex;
   justify-content: space-around;
   position: relative;
   top: 0;
   left: 28%;
   width: 70%;
   font-size: 1em;
 }
 
 
 .table_legend .high, .table_legend .moderate, .table_legend .low {
   text-align: center;
   margin: 10px 1%;
   /*padding: 10px 10px 5px 10px;*/
   padding: 8px 5px 2px 5px;
   border: 2px solid #d2d3d4;
   border-radius: 35px;
   background-color: #e2f2f5;
   position: relative;
   box-shadow: 0 7px 20px 0 rgba(196, 196, 196, 0.2);
   min-width: 22%;
   top: 0;
   transition: 250ms cubic-bezier(0, 0, 0.58, 1);
 }
 
 .table_legend .high:hover, .table_legend .moderate:hover, .table_legend .low:hover{
   box-shadow: 0 17px 20px 0 rgba(196, 196, 196, 0.3);
   top: -5px;
   transition: top 250ms cubic-bezier(0, 0, 0.58, 1);
   
 }
 
 .table_legend .high a, .table_legend .moderate a, .table_legend .low a {
   color: #2D3034;
   font-weight: 400;
 }
 
 .table_legend .high a:hover, .table_legend .moderate a:hover, .table_legend .low a:hover {
   color:  rgb(126,190,199);
   font-weight: 400;
   text-decoration:none;
 }
 
 .table_legend .high a:focus, .table_legend .moderate a:focus, .table_legend .low a:focus {
   color:  rgb(126,190,199);
   font-weight: 400;
   text-decoration:none;
 }
 
 /* icon */
 
 #quality_overview_ui_1-legend_high i{
   color: #BFE389;
 }
 
 #quality_overview_ui_1-legend_mod i{
   color: #F5A623;
 }
 
 #quality_overview_ui_1-legend_low i{
   color: #F04157;
 
 }
 
 .table_legend li {
   font-size: 0.85em;
 }
 
 .level .high{
   
   color: #bfe398;
 }
 
 .level .moderate{
   color: #F5A623;
 }
 
 .level .low{
   color: #F04157;
 }
 
 .level i{
   font-size: 0.9em;
 }
 
 /* table*/
 
 table {
   table-layout: fixed;
   width: 100%;
   border-spacing: 0;
   margin-bottom: 50px;
   line-height: 1.14;
 }
 
 thead {
   background-color: #00263d;
   color: white;
 }
 
 thead tr {
   box-shadow: -1px 2px 2px -1px black;
   /*height: 60px;*/
   height: 40px;
 }
 
 tbody tr {
   box-shadow: 0 4px 5PX -1px #DCDCDC;
 }
 
 th {
   margin: 0;
   padding: 0;
 }
 
 th h2 {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1em; 
   font-weight: 100;
   margin: 7px;
 }
 
 .quality_indicator {
   text-align: left;
  
 }
 
 
 .selected_unit .value,
 .selected_unit .ones_of_total,
 .nationally .value,
 .nationally .ones_of_total{
   display: flex;
   justify-content: center;
 }
 
 .nationally, .selected_unit{
   text-align: center;
 }
 
 .register_name h4 {
  margin: 10px 15% 5px 7px;
  font-weight: 100;
  font-size: 1.2em;
 }
 
 .quality_indicator_name h1{
   margin: 10px 5px 10px 7px;
   font-size: 1.3em;
   font-weight: 100;
  }
 
 .qi_long_description p{
   margin: 5px 5px 10px 7px;
   color: #7d8588;
   font-size: 1em;
 }
 
 .desired_target_level h4{
   margin: 5px 5px 10px 7px;
   color: #7ebec7;
   font-weight: 600;
   font-size: 1em;
 }
 
 tbody .selected_unit {
   background-color: rgba(126,190,199,0.05);
 }
 
 
 tbody [config.column.variable]:hover {
   background-color: rgba(126,190,199,0.15);
   cursor: pointer;
 }
 
 tr:last-child {
   border-bottom: 5px solid #00263d;
 }
 
 .register-row {
   background:-o-linear-gradient(bottom, #7ebec7 5%, #58868c 100%);
   background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #7ebec7), color-stop(1, #58868c) );
   background:-moz-linear-gradient( center top, #7ebec7 5%, #58868c 100% );
   text-align: left;
 }
 
 .register-row h4 {
   margin-left: 7px;
 }
 
 /* qi_overview*/
 ul {
   margin: 0.75em 0 0 0;
   padding: 0;
 }
 
 li {
   list-style-type: none;
   margin-top: 0.75em;
 }
 .category_and_number {
   display: flex
 }
 
 .qi_category{
   flex:3;
 }
         
 .qi_category_link {
   font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
   text-transform: uppercase;
   color: #9a9a9a;
   background-color: unset;
   transition: all .3s;
   display: flex;
   padding: 0.3rem 0;
   align-items: center;
   justify-content: space-between;
   border: none;
   text-align: left;
   font-size: 0.9em;
   font-weight: 700;
   border: none;
   float:left;
 }
         
 .qi_category_link:hover {
   color: #00263d;
   background-color: unset; 
   text-decoration: none;
 }
         
        
 .qi_category_link:focus {
   color: #00263d;
   background-color: unset; 
   text-decoration: none;
 }
         
 .title h2 {
   font-family: Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
   text-transform: uppercase;
   color:  #00263d;
   background-color: unset;
   padding: 0.4rem 0;
   align-items: center;
   justify-content: space-between;
   border: none;
   text-align: left;
   font-size: 1.4em;
   font-weight: 700;
   margin-bottom: 0.5rem;
   margin-top: 0.2rem;
 }
 
 .title .nr_of_reg_text{
  background-color: #2d3035;
   color: #efefef;
 }
 
 .nr_of_reg {
   flex: 1;
   align-items: center;
   justify-content: center;
 }
 .nr_of_reg_text {
   background-color: #efefef;
   color: #2d3035;
   width: 25px;
   display:flex;
   height: 25px;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   padding: 0.7rem;
   font-size: 1.1em;
   float:left;
   font-weight: 400;
 }
 
 /*------ tr figure button ----*/
 .tr_figure td{
   text-align: center;
 }
 
 .tr_figure_button{
   display: flex;
   border-radius: 25px;
   float: right;
   margin: 1em;
   padding: 0;
   overflow: hidden;
 }
 
 .figure_button_label{
   display: inline-block;
   position: relative;
   text-align: center;
   transition: background 600ms ease, color 600ms ease;
   margin: 0;
   line-height: 1;
   font-weight: 100;
 }
 
 input[type="radio"].figure_button {
   display: none;
 }
 input[type="radio"].figure_button + label {
     cursor: pointer;
     min-width: 65px;
     color: #2D3034;
 }
 
 .figure_button_label .fa{
   font-size: 1em;
   line-height: 20px;
   display: block;
   padding: 2px;
 }
 
 input[type="radio"].figure_button + label:hover {
   background: none;
   color: #2D3034;
 }
 
 input[type="radio"].figure_button_left + label {
   border-radius: 25px 0 0 25px;
   border-top: 3px solid #7EBEC7;
   border-bottom:3px solid #7EBEC7;
   border-left:3px solid #7EBEC7;
 }
 
 input[type="radio"].figure_button_right + label {
   border-radius: 0 25px  25px 0;
   border-top: 3px solid #7EBEC7;
   border-right: 3px solid #7EBEC7;
   border-bottom:3px solid #7EBEC7;
 }
 
 
 
 input[type="radio"].figure_button_left + label::after {
   background: #7EBEC7;
   content: "";
   height: 100%;
   position: absolute;
   border-radius: 0 25px 25px 0;
   top: 0;
   right: -103%;
   width: 100%;
   transition: color 300ms, right 300ms cubic-bezier(0.0, 0.54, 0.21, 0.91);;
   z-index: -1;
 }
 
 input[type="radio"].figure_button_left:checked + label {
   cursor: default;
   color: #EEF6F7;
   border-radius: 25px 0 0 25px ;
   transition: color 200ms;
 }
 input[type="radio"].figure_button_left:checked + label::after {
   right: 3%;
   border-radius: 25px 0 0 25px;
   transition: right 200ms cubic-bezier(0.0, 0.54, 0.21, 0.91);
 }
 
input[type="radio"].figure_button_right:checked + label {
  cursor: default;
  color:  #EEF6F7;
  border-radius: 0 25px 25px 0;
  transition: color 200ms;
}
 
 /*------ tr indicator desctiption ----*/

.description_title_container {
  display:flex;
  align-items:center;
  justify-content:flex-start;
  margin-left: 10%;
  width:80%;
  cursor:pointer;
}

.description_title_container h4 {
  margin: 10px;
}

.description_content {
  max-height: 0px;
  margin-left:16%;
  margin-top: 0;
  width:70%;
  text-align:justify;
  overflow:hidden;
  transition: max-height  0.2s ease-out;
}

