# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on:
  release:
    types: [published]
  push:
    branches: [master]
  pull_request:
    branches: [master, dependabot_updates]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 15.x]

    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
      - run: yarn install --immutable
      - run: yarn run check-types
      - run: yarn run check-format
      - run: yarn run lint
      - run: yarn run test:once
      - run: yarn run build
      - name: Code coverage
        if: matrix.node-version == '14.x'
        run: |
          yarn run test:coverage
          ./node_modules/.bin/codecov --disable=gcov
      - name: Generate documentation
        if: matrix.node-version == '14.x'
        run: yarn run build-doc
      - name: Deploy documentation to github pages
        if: ${{ matrix.node-version == '14.x' && github.event_name == 'release' }}
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: docs # The folder the action should deploy.
