name: Deploy app to AWS
on:
  release:
    types: [published]
  push:
    branches:
      - api

jobs:
  deploy_to_S3:
    name: Deploy app to S3
    runs-on: ubuntu-latest
    env:
      REACT_APP_API_HOST: "https://d2mrl4o83i9jyx.cloudfront.net"
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_DEFAULT_REGION: 'eu-west-1'
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Build package
        run: npm install && npm run build
      - name: sync
        run: aws s3 sync build s3://qa.skde-resultater.no --delete --cache-control "public, max-age=31536000"
      - name: manifest
        run: aws s3 cp build/asset-manifest.json s3://qa.skde-resultater.no/assets-manifest.json --cache-control "public, max-age=1, s-maxage=1"
      - name: index
        run: aws s3 cp build/index.html s3://qa.skde-resultater.no/index.html --cache-control "public, max-age=1, s-maxage=1"
